.hero-section {
    margin: 5rem;
}

.hero-text {
    text-align: center;
    padding: 0 3rem;
}

.hero-text h2 {
    font-size: 2.5rem;
    font-weight: 500;
    padding: 1rem;
}

.hero-text p {
    font-weight: 300;
    padding-bottom: 3rem;
}

.hero-text h2 span{
    font-family: Dancing Script;
    font-size: 3rem;
    color: orange;
}

.email-input {
    display: block;
    text-align: center;
}

.hero-section input {
    text-align: center;
    padding: 0.5rem;
    width: 30%;
    font-size: 1rem;
    border: 1px solid grey;
    border-radius: 10px;
}

.hero-section button {
    padding: 0.5rem;
    width: 32%;
    font-size: 1rem;
    margin: 1rem;
    letter-spacing: 0.2rem;
    text-transform: none;
}


.blog-boxes {
    display: grid;
    gap: 1rem;    
    grid-template-columns: 1fr 1fr 1fr;
}

.blog-box h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.blog-box a {
    font-size: 1rem;
    font-weight: 400;
}

.blog-box p {
    display: inline;
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.blog-box img {
    margin-top: 2rem;
    border-radius: 0.8rem;
    height: 220px;
    cursor: pointer;
}

.blog-box:hover {
    transition: opacity ease 0.5s;
    opacity: 70%;
}

.view-older-posts {
    font-size: 1rem;
    margin: 3rem;
    text-align: center;
    padding-bottom: 3rem;
    letter-spacing: 0.2rem;
}

.download-form-section {
    margin: 5rem 2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.download-form-section img {
    padding: 1rem;
    width: 30rem;
}

.download-form-container h4 {
    font-size: 1rem;
    font-weight: 400;
}

.download-form-container i {
    padding-left: 1rem;
    color: darkorange;    
}

.download-form-container h3 {
    padding: 2rem 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.download-form {
    margin-top: 1rem;
}

.download-form-container input {
    width: 90%;
    padding: 0.6rem;
    margin: 0.3rem;
    border: 1px solid grey;
    background-color: #ffffff;
    color: #333333;
    border-radius: 0.5rem;
    border-color: #cccccc;
}

.download-button {
    width: 100%;
    font-size: 1rem;
    padding: 0.8rem;
    margin-top: 1rem;
    text-transform: none;
}

@media (max-width: 768px) {
    .hero-section {
        margin: 2rem;
    }
    
    .hero-text {
        padding: 0 2rem;
    }
    
    .blog-boxes {
        display: grid;
        padding: 2rem;
        gap: 1rem;    
        grid-template-columns: 1fr 1fr;
    }
    
    .blog-box h3 {
        font-size: 1.2rem;
    }
    
    .download-form-section {
        margin: 5rem 1rem;
        padding: none;
        display: flex;
    }
    
    .download-form-section img {
        width: 20rem;
    }
}

@media (max-width: 360px) {
    .hero-section {
        margin: 2rem;
    }
    
    .hero-text {
        padding: 0 2rem;
    }

    .hero-section input {
        width: 80%;
    }
    
    .hero-section button {
        width: 88%;
    }
    
    .blog-boxes {
        display: grid;
        padding: 2rem;
        gap: 1rem;    
        grid-template-columns: 1fr;
    }
    
    .download-form-section {
        display: block;
    }
    
    .download-form-section img {
        width: 20rem;
    }
}